body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 250px auto;
  height: 100vh;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-weight: bold;
  margin: 20px;
  margin-left: 0px;
}
body nav {
  display: grid;
  justify-content: center;
  height: -moz-max-content;
  height: max-content;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.319);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20vh;
  position: fixed;
  width: 250px;
  margin-left: 20px;
}
body nav a {
  color: white;
  text-decoration: none;
  background-color: rgb(57, 107, 208);
  width: 200px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 5px;
  text-align: center;
  transition: 200ms all;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
}
body nav a:hover {
  background-color: rgb(108, 157, 255);
  color: white;
}
body main {
  margin: 50px;
  margin-top: 0px;
}
body main .topbar {
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  margin-right: 0;
  margin-bottom: 20px;
}
body main .table {
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
}

.all_inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
  padding: 50px;
  margin-bottom: 40px;
}
.all_inputs .input_field {
  display: grid;
  grid-template-columns: 130px 1fr;
  margin-bottom: 10px;
}
.all_inputs .input_field .title {
  margin-top: 9px;
}
button {
  width: -moz-max-content;
  width: max-content;
  height: 40px;
  outline: none;
  background-color: rgb(57, 107, 208);
  color: white;
  min-width: 100px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
  transition: 200ms all;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
}

button:hover {
  background-color: rgb(108, 157, 255);
}

.button, .button:focus {
  width: -moz-max-content;
  width: max-content;
  height: 40px;
  outline: none;
  background-color: rgb(57, 107, 208);
  color: white;
  min-width: 100px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
  transition: 200ms all;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.button:hover, .button:active {
  background-color: rgb(108, 157, 255);
  color: white;
  text-decoration: none;
}

select {
  width: -moz-max-content;
  width: max-content;
  max-width: 300px;
  height: 40px;
  outline: none;
  background-color: rgb(57, 107, 208);
  color: white;
  min-width: 100px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
  transition: 200ms all;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
}

input,
textarea {
  height: 30px;
  border-radius: 5px;
  border: 1px solid #222222;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  width: calc(90% - 40px);
  min-width: 100px;
  max-width: 400px;
  resize: none;
}

textarea {
  height: 100px;
  padding: 10px;
}

.bootstrap-select > button.dropdown-toggle {
  width: auto;
}

#invoice-table {
  width: 100%;
}

.invoice .all_filters {
  display: grid;
  grid-auto-flow: column;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  margin-right: 0px;
  align-items: center;
}
.invoice .all_filters label {
  margin-right: 10px;
}
.invoice .all_filters input {
  min-width: 200px !important;
  max-width: 220px !important;
}

.invoice_viewer {
  padding: 50px 100px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.341);
}
.invoice_viewer h1,
.invoice_viewer h2,
.invoice_viewer h3,
.invoice_viewer h4,
.invoice_viewer h5,
.invoice_viewer h6 {
  font-weight: bold;
  margin: 0px;
}
.invoice_viewer .first_section,
.invoice_viewer .second_section,
.invoice_viewer .third_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 30px;
  border-top: 2px solid rgb(69, 69, 69);
  padding-top: 10px;
}
.invoice_viewer .forth_section table {
  margin: auto;
}
.invoice_viewer .fifth_section {
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  margin-right: 0;
  margin-top: 30px;
  border-bottom: 2px solid rgb(69, 69, 69);
}
.invoice_viewer .sixth_section {
  margin-top: 100px;
}/*# sourceMappingURL=global.css.map */