$primary: rgb(57, 107, 208);
$secondary: rgb(108, 157, 255);
$accent: rgb(255, 66, 66);

body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 250px auto;
    height: 100vh;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
        margin: 20px;
        margin-left: 0px;
    }

    nav {
        display: grid;
        justify-content: center;
        height: max-content;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.319);
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 20vh;
        position: fixed;
        width: 250px;
        margin-left: 20px;


        a {
            color: white;
            text-decoration: none;
            background-color: $primary;
            width: 200px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 5px;
            margin-top: 5px;
            border-radius: 5px;
            text-align: center;
            transition: 200ms all;
            box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);

        }

        a:hover {
            background-color: $secondary;
            color: white;
        }
    }

    main {
        margin: 50px;
        margin-top: 0px;

        .topbar {
            width: max-content;
            margin: auto;
            margin-right: 0;
            margin-bottom: 20px;

        }

        .table {
            box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);

        }
    }
}



.all_inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
    padding: 50px;
    margin-bottom: 40px;

    .input_field {
        display: grid;
        grid-template-columns: 130px 1fr;
        margin-bottom: 10px;

        .title {
            margin-top: 9px;
        }

        .input {}


    }
}

button {
    width: max-content;
    height: 40px;
    outline: none;
    background-color: $primary;
    color: white;
    min-width: 100px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
    transition: 200ms all;
    border: none;
    padding-left: 20px;
    padding-right: 20px;

}

button:hover {
    background-color: $secondary;
}


.button, .button:focus  {
    width: max-content;
    height: 40px;
    outline: none;
    background-color: $primary;
    color: white;
    min-width: 100px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
    transition: 200ms all;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;


}

.button:hover, .button:active{
    background-color: $secondary;
    color: white;
    text-decoration: none;
}

select {
    width: max-content;
    max-width: 300px;
    height: 40px;
    outline: none;
    background-color: $primary;
    color: white;
    min-width: 100px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
    transition: 200ms all;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}


input,
textarea {
    height: 30px;
    border-radius: 5px;
    border: 1px solid #222222;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    width: calc(90% - 40px);
    min-width: 100px;
    max-width: 400px;
    resize: none;
}

textarea {
    height: 100px;
    padding: 10px;
}

.bootstrap-select>button.dropdown-toggle {
    width: auto;
}

#invoice-table {
    width: 100%;
}

.invoice{
    .all_filters{
        display: grid;
        grid-auto-flow: column;
        width: max-content;
        margin: auto;
        margin-right: 0px;
        align-items: center;
        label{
            margin-right: 10px;
        }
        input{
            min-width: 200px !important;
            max-width: 220px !important;
        }
    }
}
@import "./invoice_viewer.scss";