backend/__pycache__/
backend/.tox/
backend/.coverage
backend/.coverage.*
backend/htmlcov/
backend/docs/_build/
backend/dist/
backend/venv/

frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/pids
frontend/*.pid
frontend/*.seed
frontend/lib-cov
frontend/coverage
frontend/.nyc_output
frontend/.grunt
frontend/.lock-wscript
frontend/build/Release
frontend/node_modules
frontend/jspm_packages
frontend/.npm
frontend/.node_repl_history
frontend/.next
frontend/node_modules