@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$primary: rgb(57, 107, 208);
$secondary: rgb(108, 157, 255);
$accent: rgb(255, 66, 66);

body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 250px auto;
    height: 100vh;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
        margin: 20px;
        margin-left: 0px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    nav {


        height: 100%;

        .nav_container {
            display: grid;
            justify-content: center;
            height: max-content;
            margin: auto;
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.319);
            padding: 20px;
            position: fixed;
            width: 230px;
            top: 10vh;

        }

        a {
            color: white;
            text-decoration: none;
            background-color: $primary;
            width: 180px;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-bottom: 5px;
            margin-top: 5px;
            border-radius: 5px;
            text-align: center;
            font-size: 14px;
            transition: 200ms all;
            box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
        }

        a:hover {
            background-color: $secondary;
            color: white;
        }
    }

    input:read-only {
        background-color: rgb(230, 230, 230);
    }

    main {
        .topbar {
            width: max-content;
            margin: auto;
            margin-right: 0;
            margin-bottom: 20px;
        }

        .table {
            box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);

        }
    }
}

.all_inputs {
    display: grid;
    margin: auto;
    width: 100%;

    .input_field {
        display: grid;
        grid-template-columns: 130px 1fr;
        margin-bottom: 10px;

        .title {
            margin-top: 9px;
        }

        .input {}
    }
}

.all_inputs2 {
    grid-template-columns: 1fr 1fr 1fr;
}
.all_inputs3 {
    grid-template-columns: 3fr 3fr;
}
button {
    width: max-content;
    height: 40px;
    outline: none;
    background-color: $primary;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
    transition: 200ms all;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}

button:hover {
    background-color: $secondary;
}

.button,
.button:focus {
    width: max-content;
    height: 40px;
    outline: none;
    background-color: $primary;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
    transition: 200ms all;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.button:hover,
.button:active {
    background-color: $secondary;
    color: white;
    text-decoration: none;
}

select {
    width: max-content;
    max-width: 300px;
    height: 40px;
    outline: none;
    background-color: $primary;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
    transition: 200ms all;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}

input,
textarea {
    height: 30px;
    border-radius: 5px;
    border: 1px solid #222222;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 100px;
    width: calc(100% - 20px);
    resize: none;
}

textarea {
    height: 100px;
    padding: 10px;
}

table {
    td {
        max-width: 200px;
        overflow: hidden;
    }

    input,
    textarea {
        width: 100px !important;
        margin-right: 20px;
    }

    textarea {
        height: 30px;
    }

}

.bootstrap-select>button.dropdown-toggle {
    width: auto;
}

th {
    text-align: left !important;

}

#invoice-table {
    width: 100%;
}


section.bg-content1 {
    overflow-y: visible !important;
}

.invoice {
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: auto;
    overflow-x: auto;

    .all_filters {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.144);
        margin-right: 0px;
        align-items: center;
        padding: 20px;

        div {
            margin-bottom: 20px;
        }

        label {
            margin-right: 10px;
        }

        input {
            max-width: 220px !important;
        }
    }

    .all_inputs {
        margin: 15px;
        padding: 35px;
        margin-left: 0px;
        margin-right: 0px;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.322);
    }

    .all_inputs3 {
        grid-gap: 40px;
        padding: 0;
        margin: 0;
        border: none !important;
        box-shadow: none !important;
    }

    .input_field_select_items {
        margin-top: 50px;
    }
}

.max-w-md {
    max-width: none !important;
}

.all_items_po {
    border: 1px solid black;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    padding: 20px
}

.summary_print {
    padding: 50px !important;
    width: 1000px !important;
    height: 100%;
    background-color: white;
    page-break-before: 'always';

    table {
        td {
            border-bottom: none !important;
        }
    }

}

.summary_print_container {

    page-break-before: 'always';
    // height: calc(100vh - 240px);
    background-color: white;
    overflow: auto;


}

.create_summary {
    max-height: 80vh !important;
}

@import './invoice_viewer.scss';