$primary: rgb(57, 107, 208);
$secondary: rgb(108, 157, 255);
$accent: rgb(255, 66, 66);

body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 250px auto;
    height: 100vh;

    nav {
        display: grid;
        justify-content: center;
        width: 90%;
        margin-left: 10%;
        height: max-content;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.319);
        padding-top: 20px;
        padding-bottom: 20px;
        margin: auto;

        a {
            color: white;
            text-decoration: none;
            background-color: $primary;
            width: 100px;
            padding: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 5px;
            margin-top: 5px;
            border-radius: 5px;
            text-align: center;
            transition: 200ms all;

        }

        a:hover {
            background-color: $secondary;
        }
    }
}



.all_inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .input_field {
        display: grid;
        grid-template-columns: 150px 1fr;
        margin-bottom: 10px;

        .title {
            display: flex;
            align-items: center;
        }

        .input {
            input {
                height: 30px;
                border-radius: 5px;
                border: 1px solid #222222;
                outline: none;
                padding-left: 10px;
                padding-right: 10px;
                width: calc(90% - 40px);

            }
        }
    }
}

button {
    width: max-content;
    height: 40px;
    outline: none;
    background-color: $primary;
    color: white;
    min-width: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    transition: 200ms all;
    border: none;

}

button:hover {
    background-color: $secondary;
}