<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Invoice and Tracking</title>
    </head>
    <body>
        <nav>
            <a href="/initial_quote">Initial Quote</a>
            <a href="/final_quote">Final Quote</a>
            <a href="/invoices">Invoices</a>
            <a href="/tracking">Tracking</a>
        </nav>
        <main>{% block main %}{% endblock %}</main>

    </body>
</html>